<!doctype html>
<title>Test Mutant</title>
<head>
    <title>Essai</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" media="screen">
</head>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Users</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>

<script type="text/javascript" defer="defer">
$(document).ready(function() {
    $("table[id^='TABLE']").DataTable( {

        "scrollCollapse": true,
        "searching": false,
        "paging": false
    } );
} );
</script>